<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<div class="container event-show">
   
    <h1><%= evento.nome %> </h1>

    <img src="/img/<%= evento.link_imagem %> ">

    <h2>Tema: <%= evento.tema %> </h2>

    <p><%= evento.descricao %> </p>

    <p>O evento <%= evento.nome %>  acontece no dia  <%= evento.data_inicio %> às <%= evento.hora_inicio %>h </p>

    <p>Ele se encerra no dia <%= evento.data_fim %> às <%= evento.hora_fim %>h </p>

    <p>Preço: R$ <%= evento.preco %>,00 </p>

    <h1>Veja um pouco das atrações que te aguardam!</h1>


    <iframe width="800" height="400" src="https://www.youtube.com/embed/<%= evento.link_video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="event-button">
        <a href="/events/acess/<%= evento.id %> " class="btn btn-primary">Acessar evento</a>
        <a href="/events/list" class="btn btn-primary">Voltar</a>
    </div>

    




</div>
    


<%- include('./partials/footer'); %>